In [2]:
import mysql.connector
from sqlalchemy import create_engine

In [3]:
#mycurser and engine created to intreact with MYSQL Database
mydb = mysql.connector.connect(host="localhost",user="root",password="")
mycursor = mydb.cursor(buffered=True)
engine = create_engine("mysql+mysqlconnector://root:@localhost/youtubedata")

#to create and use the database in MYSQL database 
mycursor.execute('create database if not exists youtubedata')
mycursor.execute('use youtubedata')

In [11]:
mycursor.execute('CREATE TABLE IF NOT EXISTS video_ids')

ProgrammingError: 1113 (42000): A table must have at least 1 column